body {
  background-color: #f49e47;
  background-image: url('https://pro2-bar-s3-cdn-cf.myportfolio.com/67cf45ca-338d-4fd0-943b-32d96162976a/b7b52d14-b827-4c3a-906f-3b94fa13f35f_rw_1920.png');
}

h1 {
  color: #46484c;
  text-align: center;
}

p {
  color: #8b8b8bcc;
  font-family: verdana;
  font-size: 20px;
}

button {
  color: #fff;
  background-color: #025157;
}

.fixed-header {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
}

.header {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0;
  height: 45px;
  font-family: sans-serif;
}

.header > * {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
}

li {
  display: inline;
}

.logo {
  width: 15%;
}

.logo > img {
  height: 100%;
}

.navbar {
  width: 70%;
  text-align: center;
  color: #025157;
}

.menu-item {
  display: inline;
  margin-right: 25px;
  margin-left: 25px;
}

.actions {
  width: 15%;
  text-align: right;
  font-size: 14px;
}

.actions > * {
  margin-right: 10px;
  margin-left: 10px;
}

.actions a {
  color: #67b54b;
}

.actions button {
  color: white;
  background-color: #67b54b;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 0;
  border-radius: 5px;
}

.promo {
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
}

.explanatory-video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explanatory-video img {
  width: 120px;
  margin-top: 10px;
}

.publish {
  /* container styles if any */
  margin-left: 20px;
}

.publish h3 {
  font-family: "Alegreya", serif;
  font-size: 40px;
  line-height: 48px;
  color: #025157;
}

.publish > p {
  font-size: 16px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px;
}

.publish > form {
  display: flex;
}

.publish > form p {
  color: #025157;
  margin-right: 18px;
}




.prework{
  background-color: #a1d683;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;

  padding-bottom: 50px;
}

.texto{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  width: 40%;
  margin-left: 5%;
}

.texto h1{
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: #025157;
  text-align: left;

  margin-left: 15%;
  margin-top: 30%;
  margin-bottom: 20px;
}

.texto > p{
  font-size: 20px;
  color: #0e0d0d;
  line-height: 1.5;
  margin-left: 15%;

}

.texto > button{
  color:white;
  background-color: #025157;
  border-radius: 5px;
  padding: 14px auto;
  border: 0px;
  padding: 14px 12px 14px 12px;

  margin-left: 15%;
}

.texto > img{
  width: 100%;
  margin: 50px 100px 50px 70px;

}



.tarjeta{
  background-color:white;
  width: 30%;
  margin: 100px auto;
  border-radius: 5px;
  align-items: center;
}

.tarjeta> img{
  width: 100%;
  border-radius: 5px;
  position: relative;
}

.circulo{
  position: fixed;
  position: absolute;
  right:200px; 
  bottom: -1150px;

  width: 100px;
  height: 100px;
  -moz-border-radius: 70%;
 -webkit-border-radius: 70%;
  border-radius: 70%;
  background: #edfd0d;
}

.logo2{
  position: absolute;
  right:210px; 
  bottom: -1120px;
}

.logo2 img{
  width: 70px;
}

.tarjeta h3{
  color: #025157;
  margin-left: 20px;
}

.tarjeta p{
  font-size: 20px;
  color: #0e0d0d;
  line-height: 1.5;
  margin-bottom: 14px;
  margin-left: 20px;
}

.tarjeta >button{ 
  color:gray;
  background-color: transparent;
  font-size: 20px;
  border: 0px;

  display: flex;

  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.tarjeta > button img{
  display: flex;
  width: 10%;
  margin-right: 15px;
}

.tarjeta> form button{
  color:white;
  background-color: #025157;
  border: 0px;
  width: 90%;
  text-align: center;
  margin-left: 25px;
  margin-bottom: 30px;
  margin-top: 20px;
  border-radius: 5px;

  padding: 14px 12px 14px 12px;
}

.features{
  display:grid;
  grid-template: repeat(2, 380px) / repeat(2, 1fr);
  background-color: #025157;
  grid-gap: 30px 30px;
}

/*------------------------------------------------Card 1 */
.card1{
  background-color: white;
  display: flex;
  border-radius: 5px;

  margin: 10% 0% 0% 25%;

}

.card1 .card1_texto{
  width: 60%;
  position: relative;
}
.card1_texto h3{
  font-size: 24px;
  color: #343434;
  font-weight: 400;

  margin: 80px 0px 0px 50px;
}
.card1_texto p{
  font-size: 16px;
  color: #343434;
  
  margin: 20px 0px 20px 50px;
}
.card1_texto button{
  color:rgb(16, 204, 9);
  background-color:transparent;
  border: 0;
  font-size: 17px;
  font-weight: 600;
  padding-top: 12px 12px 6px 12px;
  height: 45px;
  border-radius: 8px;

  margin: 0px 0px 0px 50px;
}
.card1_texto img{
  width: 17%;
  position:absolute;
  top:5%;
  left: 50px;
}

.card1 .card1_img{
  background-color: rgb(156, 50, 205);
  width: 40%;
  height: 70%;
  margin-top: 5%;
  margin-left: 10%;
}
.card1_img img{
  width: 250%;
} 



/*------------------------------------------------Card 2 */
.card2{
  background-color: white;
  display: flex;
  border-radius: 5px;

  margin: 10% 25% 0% 0%;
}

.card2 .card2_texto{ 
  width: 60%;
  position: relative;
}
.card2_texto h3{
  font-size: 24px;
  color: #343434;
  font-weight: 400;

  margin: 80px 0px 0px 50px;
}

.card2_texto p{
  font-size: 16px;
  color: #343434;
  
  margin: 20px 0px 20px 50px;
}
.card2_texto button{
  color:rgb(16, 204, 9);
  background-color:transparent;
  border: 0;
  font-size: 17px;
  font-weight: 600;
  padding-top: 12px 12px 6px 12px;
  height: 45px;
  border-radius: 8px;

  margin: 0px 0px 0px 50px;
}
.card2_texto img{
  width: 17%;
  position:absolute;
  top:5%;
  left: 50px;
}

.card2 .card2_img{
  background-color: rgb(156, 50, 205);
  width: 40%;
}
.card2_img img{
  width: 200%;
} 


/*------------------------------------------------Card 3 */
.card3{
  background-color: white;
  display: flex;
  border-radius: 5px;

  margin: 0% 0% 10% 25%;
}

.card3 .card3_texto{ 
  width: 60%;
  position: relative;
}
.card3_texto h3{
  font-size: 24px;
  color: #343434;
  font-weight: 400;

  margin: 80px 0px 0px 50px;
}

.card3_texto p{
  font-size: 16px;
  color: #343434;
  
  margin: 20px 0px 20px 50px;
}
.card3_texto button{
  color:rgb(16, 204, 9);
  background-color:transparent;
  border: 0;
  font-size: 17px;
  font-weight: 600;
  padding-top: 12px 12px 6px 12px;
  height: 45px;
  border-radius: 8px;

  margin: 0px 0px 0px 50px;
}
.card3_texto img{
  width: 17%;
  position:absolute;
  top:5%;
  left: 50px;
}

.card3 .card3_img{
  background-color: rgb(156, 50, 205);
  width: 30%;
  height: 100%;
}
.card3_img img{
  width: 200%;
  z-index:initial;
}




/*------------------------------------------------Card 4 */
.card4{
  background-color: white;
  display: flex;
  border-radius: 5px;

  margin: 0% 25% 10% 0%;
}

.card4 .card4_texto{ 
  width: 60%;
  position: relative;
}
.card4_texto h3{
  font-size: 24px;
  color: #343434;
  font-weight: 400;

  margin: 80px 0px 0px 50px;
}

.card4_texto p{
  font-size: 16px;
  color: #343434;
  
  margin: 20px 0px 20px 50px;
}
.card4_texto button{
  color:rgb(16, 204, 9);
  background-color:transparent;
  border: 0;
  font-size: 17px;
  font-weight: 600;
  padding-top: 12px 12px 6px 12px;
  height: 45px;
  border-radius: 8px;

  margin: 0px 0px 0px 50px;
}
.card4_texto img{
  width: 17%;
  position:absolute;
  top:5%;
  left: 50px;
}

.card4 .card4_img{
  background-color: rgb(156, 50, 205);
  width: 30%;
  height: 100%;
}
.card4_img img{
  width: 200%;
}


/*. feature-art1{
  display: flex;
  background-color: white;

  width: 80%;
  height: 70%;
  border-radius: 5px;

  margin-left: 17%;
  margin-top: 10%;

}

.feature-art1 h3{
  font-size: 24px;
  color: #343434;
  font-weight: 400;

  margin: 60px 0px 0px 50px;
}

.feature-art1 p{
  font-size: 16px;
  color: #7e7e7e;
  font-weight: 400;

  margin: 10px 0px 0px 50px;
  width: 100%;
}

.feature-art1  button{
  color:rgb(16, 204, 9);
  background-color:transparent;
  border: 0;
  font-size: 14px;
  font-weight: 600;
  padding-top: 12px 12px 6px 12px;
  height: 45px;
  border-radius: 8px;

  margin: 0px 0px 0px 50px;
}


.feature-art1 img{
  flex-basis: 50px;
}


.feature-art2{
  background-color: white;
  width: 80%;
  height: 70%;
  border-radius: 5px;

  margin-top: 10%;
  margin-right: 17%;
}
.feature-art2 >img{
  width: 10%;
}
.feature-art2 >button{
  color:rgb(16, 204, 9);
  background-color:transparent;
  border-radius: 5px;
  padding: 14px auto;
  border: 0px;
  padding: 14px 12px 14px 12px;
}

.feature-art3{
  background-color: white;
  width: 80%;
  height: 70%;
  border-radius: 5px;

  margin-left: 17%;
  margin-top: -5%;
}
.feature-art3 >img{
  width: 10%;
}
.feature-art3 >button{
  color:rgb(16, 204, 9);
  background-color:transparent;
  border-radius: 5px;
  padding: 14px auto;
  border: 0px;
  padding: 14px 12px 14px 12px;
}

.feature-art4{
  background-color: white;
  width: 80%;
  height: 70%;
  border-radius: 5px;

  margin-right: 17%;
  margin-top: -5%;
}
.feature-art4 >button{
  color:rgb(16, 204, 9);
  background-color:transparent;
  border-radius: 5px;
  padding: 14px auto;
  border: 0px;
  padding: 14px 12px 14px 12px;
}
.feature-art4 >img{
  width: 10%;
} */