h1{
    color: rgba(233, 201, 16, 0.904);
}
h2{
    color: #10e934da;
}
h3{
    color: rgba(25, 126, 173, 0.897);
}
h4{
    color: rgba(20, 18, 3, 0.856);
}
h5{
    color: rgba(175, 105, 25, 0.897);
}
h6{
    color: rgba(73, 7, 51, 0.801);
}

body{
     background-color: rgba(199, 196, 196, 0.39);
}

button{
    color: indianred;
    background-color:indigo;
}

.fixed-header{
  position: fixed;
  background-color: blanchedalmond;
  top: 0;
  left: 0;
  right: 0;
}

.header {
    margin: 40px 20px 0px 20xp;
    font-size: 0;
    line-height: 45px;
  }
  
  li {
    display: inline;
  }
  
  .header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
  }
  
  .logo {
    width: 15%;
  }
  
  .navbar {
    width: 70%;
    text-align: left;
    color: green;
    font: sans-serif;
    font-size: 20px;
    line-height: 45px;
  }
  
  .actions {
    width: 15%;
    text-align: center;
    font-size: 14px;

    padding-right: 10px;
    padding-left: 10px;
    color: #67b54b;
  }

  .boton{
    background-color:#67b54b;
    padding-top: 14px;
    padding-bottom: 14px;

    padding-left: 12px;
    padding-right: 12px;

    border-radius: 5px;

    color: white;
    color: white;
  }

.Publicidad h1{

  color: #025157;
  font: sans-serif;
  font-size: 50px;
  line-height: 48px;
  
}
.Publicidad p{
  font-size: 16px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px;
}

.Promo{
  display: flex;
  width: 30%;
  margin: 100px;
}

.video{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 30px;
}

.imagen{
  display: flex;
  flex-wrap: wrap;
}





  