h1{
    color: rgba(233, 201, 16, 0.904);
}
h2{
    color: #10e934da;
}
h3{
    color: rgba(25, 126, 173, 0.897);
}
h4{
    color: rgba(20, 18, 3, 0.856);
}
h5{
    color: rgba(175, 105, 25, 0.897);
}
h6{
    color: rgba(73, 7, 51, 0.801);
}

body{
     background-color: rgba(199, 196, 196, 0.39);
}

